/*基本样式*/
.clearfix:after{
	content: ".";
	clear: both;
	visibility: hidden;
	display: block;
	height: 0;
}
/*功能*/
.f_l{
	float: left;
}
.f_r{
	float: right;
}
.fontsize18{
	font-size: 18px;
}
/*皮肤*/
.width1140{
	width: 1140px;
}
/*状态*/
.hover_red:hover{
	color: #FC342A;
}
.hover_rtbar li:hover{
	background-color: #f8b551;
}
// .hover_rtbar li:first-child:hover{
// 	background-color: #ddd;
// }
.g-head{
	min-width: 1140px;
	position: relative;
}
.g-head-1{
	height: 73px;
	width: 1140px;
	margin: 0 auto;
}
.g-head-1 .m-sch{
	line-height: 73px;
	height: 100%;
}
.g-head-1 .m-ipt{
	display: inline-block;
	position: relative;
}
.g-head-1 .m-ipt .u-btn-sch{
	position: absolute;
	right: 4px;
	top: 6px;
}
.g-head-1 .u-ipt{
	width: 123px;
	height: 28px;
	outline: none;
	border: 1px solid #C5C8C8;
	border-radius: 5px;
	padding-right: 30px;
}
.g-head-1 .m-sch-mod{
	display: inline-block;
	margin-left: 10px;
}
.m-lang img{
	vertical-align: middle;
}
.g-head-2{
	position: relative;
	height: 50px;
	min-width: 1140px;
}
.m-bar{
	height: 100%;
	position: relative;
	z-index: 100;
}
.m-ltbar{
	width: 24%;
	background-color: #f8b551;
}
.m-rtbar{
	width: 63%;
	background-color: #00829c;
}
.u-tle {
	position: absolute;
	border-color: transparent;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 25px 9px;
} 
.u-tle-1{
	right: -18px;
	border-color: #f8b551 transparent transparent #f8b551;
}
.u-tle-2{
	left: -18px;
	border-color: transparent #00829c #00829c transparent;
}
.g-head-2 .m-container{
	left: 0;
	right: 0;
	height: 100%;
	position: absolute;
	margin: auto;
	top: 0;
}
.g-head-2 .m-logo{
	overflow: hidden;
	text-align: center;
	z-index:10;
	height: 100%;
}
.g-head-2 .m-logo-box{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 25.56%;
}
.g-head-2 .m-list{
	position: absolute;
}
.g-head-2 .m-list li{
	float: left;
}
.g-head-2 .m-list a{
	display: block;
	line-height: 50px;
	padding: 0px 10px;
}
