/*基本样式*/
.clearfix:after{
	content: ".";
	clear: both;
	visibility: hidden;
	display: block;
	height: 0;
}
/*功能*/
.f_l{
	float: left;
}
.f_r{
	float: right;
}
.fontsize18{
	font-size: 18px;
}
.fontsize16{
	font-size: 16px;
}
.fontsize25{
	font-size: 25px;
}
p{
	word-break:break-all;
	overflow: hidden;
}
/*皮肤*/
.width1140{
	width: 1140px;
}
/*状态*/
.hover_red:hover{
	color: #FC342A;
}
.hover_rtbar li:hover{
	background-color: #f8b551;
}
.g-head{
	min-width: 1140px;
	position: relative;
}
.m-head-1{
	height: 73px;
	width: 1140px;
	margin: 0 auto;
}
.m-head-1 .m-sch{
	line-height: 73px;
	height: 100%;
}
.m-head-1 .m-ipt{
	display: inline-block;
	position: relative;
}
.m-head-1 .m-ipt .u-btn-sch{
	position: absolute;
	right: 4px;
	top: 6px;
}
.m-head-1 .u-ipt{
	width: 123px;
	height: 28px;
	outline: none;
	border: 1px solid #C5C8C8;
	border-radius: 5px;
	padding-right: 30px;
}
.m-head-1 .m-sch-mod{
	display: inline-block;
	margin-left: 10px;
}
.m-lang img{
	vertical-align: middle;
}
.m-head-2{
	position: relative;
	height: 50px;
	min-width: 1140px;
}
.m-bar{
	height: 100%;
	position: relative;
	z-index: 100;
}
.m-ltbar{
	width: 21.5%;
	background-color: #f8b551;
}
.m-rtbar{
	width: 62%;
	background-color: #00829c;
}
.u-tle {
	position: absolute;
	border-color: transparent;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 25px 9px;
} 
.u-tle-1{
	right: -18px;
	border-color: #f8b551 transparent transparent #f8b551;
}
.u-tle-2{
	left: -18px;
	border-color: transparent #00829c #00829c transparent;
}
.m-head-2 .m-container{
	left: 0;
	right: 0;
	height: 100%;
	position: absolute;
	margin: auto;
	top: 0;
}
.m-head-2 .m-logo{
	overflow: hidden;
	text-align: center;
	z-index:10;
	height: 100%;
}
.m-head-2 .m-logo-box{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 25.56%;
}
.m-head-2 .m-list{
	position: absolute;
}
.m-head-2 .m-list li{
	float: left;
}
.m-head-2 .m-list a{
	color: #fff;
}
.m-head-2 .m-list a{
	display: block;
	line-height: 50px;
	padding: 0px 10px;
}
.m-head-3{
	position: relative;
}
.m-head-3 .m-slider-wrap{
	min-width: 1140px;
	height: 648px;
	background: url(../imgs/slide-1.png) center top no-repeat;
	background-size: cover;
}
.m-head-3 .m-btm{
	background-color: #f8b551;
	height: 10px;
}
.m-head-3 .m-tab-box{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 130px;
	bottom: -47px;
}
.m-tab-box .m-tab-1{
	margin-left: 50px;
}
.m-head-3 .m-tab-box .m-tab-2{
	background-color: #005f6b;
}
.m-head-3 .m-tab-box .m-tab-3{
	background-color: #024952;
}
.m-head-3 .m-tab{
	background-color: #017685;
	position: relative;
	height: 100%;
	width: 343px;
	box-sizing: border-box;
	display: inline-block;
}
.m-head-3 .m-tab+.m-tab{
	margin-left: 4px;
}
.m-tab-box .u-tab-tle{
	border-width: 65px 17px;
	left: -34px;
	border-color: transparent #017685 #017685 transparent;
}
.m-head-3 .m-tab-box .u-tab-tle-1{
	border-width: 65px 17px;
	border-color: #024952 transparent transparent #024952;
	left: inherit;
	right: -34px;
}
.m-tab-box .u-cxt{
	float: left;
	margin: 10px 20px;
	height: 110px;
	width: 303px;
	line-height: 23px;
	color: #fff;
}
.g-body{
	margin: 100px auto 0;	
}
.g-body .m-nav{
	margin: 0 auto;
}
.g-body .m-nav .m-nav-img{
	box-shadow: 0 0 1px 1px #e5e5e5;
	border: 1px solid #e5e5e5;
	display: inline-block;
	padding: 20px;
	margin-left: 34px;
	border-radius: 5px;
}
.g-body .m-nav .m-nav-cxt{
	width: 620px;
	height: 304px;
	margin-right: 34px;
	position: relative;
}
.g-body .m-nav .m-nav-cxt h1{
	color: #00829c;
	text-align: left;
	margin: 10px 0;
}
.g-body .m-nav .m-nav-cxt p{
	line-height: 27px;
	height: 160px;
}
.g-body .m-nav .m-btm{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 60px;
}
.g-body .m-nav .m-list li{
	float: left;
}
.g-body .m-nav .m-list li+li{
	margin-left: 20px;
}
.g-body .m-about{
	min-width: 1140px;
	margin-top: 70px;
	height: 560px;
}
.m-about .m-side{
	display: inline-block;
	height: 100%;
	width: 50%;
	box-sizing: border-box;
}
.m-about .m-side-lt{
	float: left;
}
.m-about .m-side-rt{
	float: right;
}
.m-sidec{
	box-sizing: border-box;
}
.m-about .m-sidec-1{
	height: 60%;
	background-color: #00829c;
}
.m-about .m-sidec-2{
	height: 40%;
	background-color: #fff;
}
.m-sidec-1 .m-container{
	width: 550px;
	padding-right: 20px;
}
.m-sidec-1 .m-container h1{
	color: #fff;
	font-weight: lighter;
	line-height: 80px;
}
.m-sidec-1 .m-container p{
	color: #fff;
	line-height: 20px;
	max-height: 190px;
}
.m-sidec-1 .m-container a{
	margin-top: 20px;
	display: inline-block;
	float: left;
	border: 1px solid #fff;
	line-height: 30px;
	text-align: center;
	width: 100px;
	color: #fff;
}
.m-sidec-2 .m-container{
	position: relative;
	width: 570px;
	height: 100%;
}
.m-sidec-2 h1{
	position: absolute;
	bottom: 20px;
	left: 50px;
}
.m-sidec-2 .m-tip{
	position: absolute;
	height: 200px;
	width: 450px;
	background-color: #ffbb41;
	bottom: 80px;
	left: 100px;
	border-radius: 10px;
}
.m-tip .u-cxt{
	color: #fff;
	line-height: 25px;
	margin: 20px auto 0;
	width: 400px;
	height: 155px;
	overflow: hidden;
}
.m-tip .u-arrow{
	width: 0;
	height: 0;
	position: absolute;
	bottom: -30px;
	left: 6px;
	border-width: 15px 10px;
	border-style: solid;
	border-color: #ffbb41 transparent transparent transparent;
}
.m-about .m-side-rt{
	background: url(../imgs/about.png) center top no-repeat;
	background-size: cover;
}
.m-case{
	background-color: #f4f4f4;
	height: 1155px;
}
.m-case-box{
	margin: 0 auto;
	overflow: hidden;
}
.m-case-box .u-title{
	margin-top: 46px;
	text-align: center;
	line-height: 50px;
	color: #00829c;
}
.m-case-box .m-list li{
	float: left;
	width: 30%;
	box-sizing: border-box;
	margin: 0px 19px 30px;
}
.m-case-box .m-list a{
	display: block;
	height: 390px;
	text-align: center;
	overflow: hidden;
}
.m-case-box .m-list a:hover{
	background-color: #ddd;
}
.m-case-box .m-list h1{
	font-weight: lighter;
	color: #3e9fb3;
	font-size: 22px;
	margin-bottom: 20px;
}
.m-case-box .m-list .u-cxt{
	margin-top: 20px;
	padding: 0 25px;
}
.m-case-box .u-btn{
	text-align: center;
	color: #fff;
	font-size: 30px;
	display: block;
	width: 300px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	background-color: #00829c;
}
.m-case .u-btm{
	
}